/* BRANDING */
#moodboard {
	width: 900px;
	margin: 0px 25px;
	padding: 25px;
	background-color: #fafafa;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

/* VISUALIZATION */
.vis-example {
	float: left;
	width: 300px;
	margin: 20px 0px 20px 20px;
	padding: 10px;
	background-clip: #ffffff;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}
.first-vis-example {
	margin: 20px 0px;
}
